version: "3.7"

services:
  postgres:
    image: cimg/postgres:9.6
    container_name: telegram-postgres
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
